@import url("general-style.css");
body{
	margin: 0;
	padding: 0;
	font-family: 'Istok Web';
	overflow-x: hidden;

}

.container{
	max-width: 960px;
	min-width: 480px;
	margin-left: 15vw;
	
}
.flex-align{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}
.main-color{
	background-color: #F1D950;
}
.head-style{
	height: 80px;
	background: linear-gradient(to top, #F1D950, #f8ecaa);
}
.main-img{
	background-image: url("../imgs/slider-rest-1.jpg");
	background-repeat: no-repeat;
	background-color: grey;
	background-blend-mode: multiply;
	height: 85vh;	
	position: relative;
	background-size: cover;

}

a{
	text-decoration: none; 
	color: #000;
}
input:focus, select:focus{
	outline: 0;
}
input:hover{
	cursor: pointer;
}
.menu li{
	list-style: none;
	margin-right: 10px;
}
.menu a{
	font-size: 24px;
}
.menu li a:hover{
	color: #fff;
	transition: 0.3s;
}

.menu li:not(:last-child):after{
	content: "  |  ";
	opacity: 0.2;	
}
.submenu{
	display: none;
	position: absolute;
	top: 50px;
	z-index: 2;
	border-radius: 10px;
	background: rgba(255,255,255,0.6);
}
.menu li:hover .submenu{
	display: block;
}
.logo-text{
	font-family: 'Courgette';
	font-size: 25px;
	color: #fff;
}
.logo-img{
	width: 70px;
	height: 70px; 
}

.search-field{
	width: 400px;
	height: 50px;
	border-radius: 30px ;
	padding-left: 15px;
}
.search-button{
	width: 30px;
	margin-bottom: -10px;
	margin-left: 10px;
}

.dish-menu-buttons{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;

}
.dish-menu-buttons input[type = 'button']{
	font-size: 24px;
	text-decoration: none; 
	width: 150px;	
	height: 40px;
	background-color: transparent;
	border-radius: 35px 0;
	border: 3px solid #F1D950;
}
.dish-menu-buttons input[type = 'button']:hover,
.dish-menu-buttons input[type = 'button']:focus {
	background: #F1D950;
	color: #fff;
	transition: 0.5s;
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}
.big-text{
	color: #fff;
	font-size: 40px;
	font-style: italic;

}
.reserve-button{
	position: absolute;	
	bottom: 15%;
	left: 18vw;
	background: linear-gradient(to top,#c1a710, #F1D950, #fbf5d0);
	width: 350px;
	height: 50px;
	border-radius: 5px;
	border: none;
	font-size: 25px;
	font-style: italic;
}
.reserve-button:hover{
	transition: 0.5s;
	color: #fff;
}
.reserve-window-back{
	display: none;
	background-color: rgba(0,0,0,0.8);
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.reserve-window{
	z-index: 3;
	width: 70%;
	height: 80%;
	position: absolute;
	left: 15%;
	top:5%;
	background-color: #fff;
	border-radius: 20px;
	padding-bottom: 5%;
	

}
.reserve-window #reserveExit{
	-webkit-transform: scale(1.5);
	        transform: scale(1.5);
	position: absolute;
	right: 15px;
	top: 15px;
}
.reserve-window #reserveExit{
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
}
.reserve-window #reserveExit:active{
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	background: #F1D950;
}

.reserve-window #reserveExit:hover{
	border: 1px solid #F1D950;
}
.table-reserve {
	position: absolute;
	top: 80px;
	right: 40px;
}
.table-reserve input{
	width: 100px;
	height: 100px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 100px;
	border: 3px solid #F1D950;
	background-color: #fff;
	font-size: 40px;
	font-family: "Lobster";
}
.table-reserve input:hover, 
{	
	background-color:  #F1D950;
}
.reserve-form{
	position: absolute;
	left: 80px;
	top: 80px;
	font-size: 24px;

}
.reserve-form select, .reserve-form input{
	border-radius: 20px;
	height: 35px;
	font-size: 24px;
	margin-top: 5px;
	padding-left: 5%;
}
.reserve-form input[type="button"]{
	background-color: #fff;
	border: 3px solid #F1D950;
	width: 370px;
	padding-left: 0;
}
.reserve-form input[type="button"]:hover{
	background-color: #F1D950;
}
.reserve-form input[type="button"]:active{
	color: #fff;
}

.display-none{
	display: none;
}
.number-for-submit input[type="submit"]{
	background-color: #fff;
	border: 3px dotted #F1D950;
}
.top-button img{
	height: 70px;
	width: 70px;
	position: fixed;
	right: 5%;
	bottom: 10%;
	background-color: #F1D950;
	color: #fff;
	border-radius: 90px;
	border: none;
}

.top-button img:hover{
	transition: 0.5s;
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}
.central-text{
	text-align: center;
	font-size: 50px;
	font-family: 'Istok Web';
}
.pagination {
	display: inline-flex;
	justify-content: center;
	width: 100%;

}
.pagination li {
	list-style: none;
	width: 20px;
	text-align: center;
	margin-right: 15px;
	border-radius: 3px;
}
.pagination-button {
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: transparent;
	border: 2px solid #F1D950;
	border-radius: 3px;
}
.pagination-button:hover,
.pagination-button:focus  
{
	background-color: #F1D950;
	outline: 0;
}


.menu-dishes-list{
	display: inline-flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 80px;
	margin-left: 0;
	height: 620px;
	flex-wrap: wrap;

}
.menu-dishes-list .dish{
	margin-right: 20px;
	width: 300px;
	height: 300px;
	border-radius: 20px;
}
.menu-dishes-list .dish p{
	margin: 5px;
	text-align: center;		
}
.dish-describe{
	font-size: 0px;
}
.menu-dishes-list .dish:hover{
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
	transition: 0.5s;
	background-color: #fff;
	border-bottom: 3px solid #F1D950;
}
.menu-dishes-list .dish:hover .dish-describe{
	font-size: inherit;
}

.menu-dishes-list img{
	width: 300px;
	height: 200px;
	border-radius: 20px;
}
.menu-dishes-list .img-size{
	height: 200px;
	overflow: hidden;

}
.menu-dishes-list span{
	text-align: center;
	padding-top: 0;
}

.our-team{
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.our-team img{
	height: 250px;
	width: 250px;
	border-radius: 200px;
}
.our-team figcaption{
	text-align: center;
	font-style: italic;
}
.our-team div:hover{
	transition-duration: 0.5s;
	-webkit-transform: scale(1.2,1.2);
	        transform: scale(1.2,1.2);
}

.map-style{
	overflow: hidden;
	width: 450px;
	height: 450px;
	border: 30px double #F1D950;
	border-radius: 500px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.8);
	margin-bottom: 70px;
}
.map-style img{

	height: 500px;
}
.contacts-align{
	width: 100%;
	justify-content: space-between;
	text-align: center; 
}
.call-button{
	width: 70px;
	height: 70px;
	border-radius: 100px;
	position: fixed;
	bottom: 10%;
	left: 5%;
	overflow: hidden;

}
.call-button input{
	width: 80px;
	position: absolute;
	left: -5px;
	top: -5px;
}
.call-button:hover{
	transform: rotate(360deg) scale(1.2);
	transition: 1s;

}

.form-style{
	display: none;
	flex-direction: column;
	width: 50%;
	align-items: center;
	border-radius: 20px;
	padding: 0 20px 25px 20px;
	border: 3px dashed #F1D950;
	text-align: center;
	font-family: "Istok Web";
	font-size: 24px;
	position: fixed;
	bottom: 0;
	left: 25%;
	background: rgba(255,255,255,0.8);
}
.form-style span{
	position: absolute;
	right: 10%;
}
.form-style span:hover{
	cursor: pointer;
}

.form-style input{

	height: 35px;
	margin: 10px 0;
	width: 70%;
	border: 2px solid #F1D950;
	padding: 5px;
	border-radius: 10px;
	font-size: 20px;
}
.form-style input[type="submit"]{
	background: #F1D950;
	border: none;
	height: 50px;
	font: inherit;
}
footer{
	margin-top: 50px;
	height: 100px;
	background:  #000;
	color: #fff;
}
.burger-menu span, .burger-button{
	display: none;
}
